<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<div class="row d-flex justify-content-center align-items-center">
  <div class="col-12 col-md-8 col-lg-6 col-xl-5">
    <div class="card" style="border-radius: 1rem;">
      <div class="card-body border-secondary p-5 text-center">
        <div class="mb-md-5 mt-md-4 pb-1">

<h2 class="fw-bold mb-2 text-uppercase">Edit <%= resource_name.to_s.humanize %></h2>
<p class="mb-5">Please enter your email and password</p>

<div class="form-floating mb-3">
  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", id: "floatingInput" %>
  <label for="floatingInput">Email address</label>
</div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <div class="form-floating mb-3">
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", id: "floatingPassword" %>
      <label for="floatingPassword">Password 
      <% if @minimum_password_length %>
      (<%= @minimum_password_length %> characters minimum)
      <% end %>
      </label>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    </div>
  </div>

  <div class="field">
    <div class="form-floating mb-3">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", id: "floatingPasswordAgain" %>
    <label for="floatingPasswordAgain">Password confirmation</label>
    </div>
  </div>
  
  <div class="field">
    <div class="form-floating mb-3">
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", id: "floatingPasswordCurrent" %>
    <label for="floatingPasswordCurrent">Current Password</label>
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    </div>
  </div>


  <div class="actions">
    <%= f.submit "Update", class: "btn btn-outline-secondary btn-lg px-5" %>
  </div>
</div>

<% end %>
<div>
  <h6>Unhappy?</h6> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-lg px-5 mb-3" %>
</div>

<%= link_to "Back", :back %>
</div>
</div>
</div>
</div>
</div>