<%= form_with(model: bubble) do |form| %>
  <% if bubble.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bubble.errors.count, "error") %> prohibited this bubble from being saved:</h2>

      <ul>
        <% bubble.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
    <div class="modal-body">

    <div class="row mb-3">
  <div class="col-sm">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-card-heading"></i>
      </span>
      <%= form.text_field :name, type:"text", class:"form-control", placeholder:"Card Name", arialabel:"Card Name", ariadescribedby:"basic-addon1" %>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-palette2"></i>
      </span>
      <%= form.color_field :color, class:"form-control form-control-color", value:"#f8f9fa", title:"Card Color"%>
    </div>
  </div>
</div>

  <div class="input-group mb-3">
    <span class="input-group-text">Limite Date</span>
    <%= form.date_field :date, class:"form-control", arialabel:"Date" %>
  </div>
  
  <div class="input-group mb-3">
    <span class="input-group-text">Category</span>
    <% if defined?(@categories) %>
      <%= form.select :category_id, @categories.all.collect{ |c| [c.name, c.id] }, {selected: partial_category_id}, {class:"form-select", arialabel:"Category"} %>
    <%end%>
  </div>


<div class="input-group">
  <span class="input-group-text">Description</span>
  <%= form.text_area :description, class:"form-control", arialabel:"Description" %>
</div>

    </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <%= form.submit "Save changes", class:"btn btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
