<%= form_with(model: bubble) do |form| %>
  <% if bubble.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(bubble.errors.count, "error") %> prohibited this bubble from being saved:</h2>

      <ul>
        <% bubble.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="row mb-3">
  <div class="col-sm">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-card-heading"></i>
      </span>
      <%= form.text_field :name, type:"text", class:"form-control", placeholder:"Card Name", arialabel:"Card Name", ariadescribedby:"basic-addon1" %>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="input-group">
      <span class="input-group-text" id="basic-addon1">
        <i class="bi bi-palette2"></i>
      </span>
      <%= form.color_field :color, class:"form-control form-control-color", value:"#f8f9fa", title:"Card Color"%>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm">
    <div class="input-group">
      <span class="input-group-text">Limite Date</span>
      <%= form.date_field :date, class:"form-control", arialabel:"Date" %>
    </div>
  </div>
  <% if !defined?(partial_category_id) %>
  <div class="col-sm-3">
    <div class="input-group">
      <span class="input-group-text">Category</span>
      <%= form.date_field :date, class:"form-control", arialabel:"Date" %>
    </div>
  </div>
  <% end %>
</div>  

<div class="input-group">
  <span class="input-group-text">Description</span>
  <%= form.text_area :description, class:"form-control", arialabel:"Description" %>
</div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_field :description %>
  </div>

  <div>
    <%= form.label :priority, style: "display: block" %>
    <%= form.number_field :priority %>
  </div>

  <div>
    <%= form.label :category_id, style: "display: block" %>
    <%= form.text_field :category_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
