<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to root_path, class: "btn btn-default" do %>
        <i class="bi bi-list-nested"></i> To Do
    <% end %>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Bubbles", bubbles_path, class:"nav-link" %>
        <%= link_to "Categories", categories_path, class:"nav-link" %>
      </div>
    </div>
  </div>
</nav>

<!-- 
<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand">
    <%= link_to root_path, class: "btn btn-default" do %>
        <i class="bi bi-list-nested"></i> To Do
    <% end %>
    </a>
    <%= link_to "Bubbles", bubbles_path %>
    <%= link_to "Categories", categories_path %>
  </div>
</nav>
-->