<div id="<%= dom_id category %>" class="card">
  <div class="card-header text-start">
  <div class="row justify-content-between">
    <div class="col-auto">
      <%= category.id %> - <%= category.name %>
    </div>
    <div class="col-1">
      <%= link_to @bubble, {:remote => true, 'data-bs-toggle' =>  "modal", 'data-bs-target' => '#createBubble'+category.id.to_s, class: 'nav-link stretched-link'} do%>
        <i class="bi bi-plus h3"></i>
      <%end%>
    </div>
  </div>
  </div>
  <div class="card-body">
    <div class="row row-cols-1 row-cols-md-1">
      <% category.bubbles.each do |bubble| %>
      <div class="col">
        <%= render bubble %>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="modal fade" id="createBubble<%=category.id%>" tabindex="-1" aria-hidden="true">
  <%= render "bubbles/formModal", bubble: Bubble.new, partial_category_id: category.id %>
</div>